.main {
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 800px;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    color: #888;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}